.container {
  max-width: 1224px;
  margin: 178px auto 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_container {
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}



.steps_sign {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-cbcbcb);
}

.icons {
  width: 30px;
  height: 30px;
  font-weight: bold;
  margin: 0 8px;
}

.text {
  margin-left: 8px;
  color: var(--neutral-cbcbcb);
}

.active_state {
  color: var(--green-primary);
  font-weight: bold;
}

.solid_line {
  width: 250px;
  height: 0.05px;
  border: 0.05px dashed var(--neutral-cbcbcb);
}

@keyframes inProggress {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(140deg);
  }
}

@media screen and (max-width: 1024px) {
  .solid_line {
    width: 220px;
  }
}
@media screen and (max-width: 820px) {
  .solid_line {
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .solid_line {
    width: 160px;
  }
}
