.container {
  background-color: var(--neutral-ededed);
}

.content_container {
  max-width: 1224px;
  margin: 0 auto;
  line-height: 1.8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  
}

.content_container span {
  cursor: pointer;
  padding: 16px 1rem;
  transition: all 0.3s ease-out;
  font-size: var(--h6-desktop);
  border-bottom: 2px solid transparent;
}

@media screen and (max-width: 500px) {
  .content_container span {
    font-size: var(--small-mobile);
  }
}
