.container {
  margin: 24px auto 48px;
  display: flex;
  max-width: 1224px;
}

/* empty cart */
.center_container {
  border: 0.5px solid var(--neutral-cbcbcb);
  border-radius: 4px;
  height: 422px;
  align-items: center;
  justify-content: center;
  background-image: url("/images/Empty\ page.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.empty_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}

.text {
  color: var(--neutral-757575);
}

.link_to_menu {
  text-decoration: none;
  padding: 8px 48px;
  border: 0.5px solid var(--green-primary);
  text-align: center;
  color: var(--green-primary);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.link_to_menu:hover {
  box-shadow: 1px 1px 6px 0 var(--green-primary),
    -1px -1px 6px 0 var(--green-primary);
}

/* fill cart */

.food_container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-height: 400px;
  overflow-y: auto;
  border: 0.5px solid var(--neutral-cbcbcb);
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 24px 1rem 48px;
  }
}
