.full_cart {
  margin: 24px auto 48px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1224px;
  gap: 24px;
}

.full_cart_mobile {
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .full_cart {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
