.container {
  height: 140px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
    0 4px 4px 0 rgba(0, 0, 0, 0.09), 0 9px 5px 0 rgba(0, 0, 0, 0.05),
    0 16px 6px 0 rgba(0, 0, 0, 0.01), 0 25px 7px 0 rgba(0, 0, 0, 0);
  border: solid 1px var(--green-primary);
  background-color: var(--green-primary);
  color: var(--neutral-353535);
  text-decoration: none;
  position: relative;
}

.container img {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 240px;
}

.container p {
  background-color: var(--neutral-e-1-e-1-e-1);
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 155px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px #ccc, 0px 0px 0px 0px #eee;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}


@media screen and (max-width:430px) {
  .container{
    width: 182px;
    height: 100px;
    margin-bottom: 132px;
  }

  .container img{
    width: 150px;
    height: 150px;
    top: -75%;
  }

  .container p{
    width: 106px;
  }
}