.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px 0;
  background-color: var(--neutral-white);
  transition: all 0.1s ease-in-out;
  position: fixed;
  z-index: 9999;
  padding-right: calc((100% - 1224px) / 2);
  padding-left: calc((100% - 1224px) / 2);
  min-width: 100%;
}

.scrolled_navbar {
  padding-top: 4px;
  padding-bottom: 4px;
}
.container img {
  width: 99px;
  height: 46px;
  flex-grow: 0;
}
.ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 808px;
  padding: 0 94.5px;
  gap: 24px;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--h6-desktop);
  line-height: 1.8;
  color: var(--neutral-717171);
}

.link {
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.li:hover {
  color: var(--green-primary);
}

.active {
  color: var(--green-primary);
  font-weight: 600;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  margin-left: 8px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--green-green-tint-1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.icons:hover {
  background-color: var(--green-green-tint-2);
}

.login_before {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
