.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1224px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 48px 0 32px 0;
  font-size: var(--h5-desktop);
  font-weight: bold;
  line-height: 1.4;
  color: var(--neutral-353535);
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 150px;
}

@media screen and (max-width: 1024px) {
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .menu{
    align-items: center;
    justify-content: center;
    row-gap: 180px;
    column-gap: 48px;
  }

  
}

@media screen and (max-width:430px) {
  .menu{
    align-items: center;
    margin-top: 72px;
    row-gap: 0;
    column-gap: 24px;
  }
}
