.before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 808px;
  height: 506px;
  background-color: var(--neutral-white);
  z-index: 9999;
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  animation: grow 0.5s ease-in-out forwards;
}

.title {
  background-color: var(--neutral-cbcbcb);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.title h4 {
  font-size: var(--h4-desktop);
}
.close {
  cursor: pointer;
  transition: all 0.3 ease;
  position: absolute;
  left: 2%;
  top: 3%;
}

.close:hover {
  color: var(--state-error-error);
}

.image_container {
  width: 100%;
  height: 364px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes grow {
  0% {
    transform: scale(0.01);
  }

  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 500px) {
  .title h4 {
    font-size: var(--h4-mobile);
  }
}