.container {
  position: relative;
  border-radius: 4px;
  z-index: 0;
}
.input {
  background-color: transparent;
  border: none;
  padding: 20px 8px 8px 8px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: var(--small-desktop);
  z-index: 10;
}

.input:focus {
  outline: none;
  border: none;
}

.placeholder_inlined,
.placeholder_outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  opacity: 1;
  transition: all 0.1s linear;
  padding-top: 2px;
  padding-bottom: 4px;
  z-index: -1;
  font-size: var(--small-desktop);
}

.dirty_placeholder_inlined {
  position: absolute;
  transform: translateY(-50%);
  color: var(--neutral-white);
  opacity: 1;
  transition: all 0.3s linear;
  padding-top: 2px;
  padding-bottom: 4px;
  top: 17%;
  right: 1%;
  font-size: 0.6rem;
}
.dirty_placeholder_outlined {
  position: absolute;
  transform: translateY(-50%);
  color: var(--neutral-white);
  opacity: 1;
  transition: all 0.3s linear;
  padding-top: 2px;
  padding-bottom: 4px;
  top: -2%;
  right: 2%;
  padding: 0 0.3rem;
  font-size: var(--small-desktop);

}

.input:focus + .placeholder_inlined {
  top: 17%;
  right: 1%;
  font-size: 0.6rem;
}

.input:focus + .placeholder_outlined {
  top: -2%;
  right: 2%;
  padding: 0 0.3rem;
}

/* !dirtyInput  ? styles.placeholder : styles.dirty_placeholder_inlined */
